@import 'tailwindcss';

:root {
  /* Base colors */
  --primary: #00a0e3;
  --primary-light: #33b3e9;
  --primary-dark: #0080b6;

  --secondary: #f78100;
  --secondary-light: #ff9a1f;
  --secondary-dark: #d66f00;

  /* Typography */
  /* --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);
  --font-serif: var(--font-lora); */
}

@theme {
  --color-primary: var(--primary);
  --color-primary-100: var(--primary-light);
  --color-primary-200: var(--primary-dark);
  --color-secondary: var(--secondary);
  --color-secondary-100: var(--secondary-light);
  --color-secondary-200: var(--secondary-dark);

}

body {
  background: var(--background);
  color: var(--foreground);
}

.serif {
  font-family: var(--font-serif);
}

.underlined {
  position: relative;
  text-decoration: none;
}

.underlined::after {
  content: '';
  position: absolute;
  width: 100%;
  border-radius: 100px;
  height: 1px;
  bottom: -10px;
  left: 0;
  background-color: currentColor; /* Uses the text color */
}

.underline-animate {
  position: relative;
  text-decoration: none;
}

.underline-animate::after {
  content: '';
  position: absolute;
  border-radius: 100px;
  width: 0%;
  height: 1px;
  bottom: 0;
  left: 0;
  bottom: -10px;
  background-color: currentColor; /* Uses the text color */
  transition: width 0.3s ease;
}

.underline-animate:hover::after {
  width: 100%;
}
